extends base.pug
block links
    link(rel="stylesheet", href="/css/resume.css")
block content
    div.banner
    div.container.center
        img(src=user.avatar_url).responsive-img.circle.avatar-img
        h1 #{user.login}
        p #{user.bio}